    <script type="text/javascript" src="/assets/js/prism.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26872721-2"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>

    <script>
      // Initialize Highlight.js
      hljs.initHighlightingOnLoad();

      // Initialize Google Analytics
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-26872721-2');
    </script>
  </body>
</html>
