<ul id="social">
  <li class="social-link">
    <a href="http://twitter.com/caligoanimus">
      <span class="fa fa-twitter fa-2x"></span>
    </a>
  </li>
  <li class="social-link">
    <a href="http://github.com/hbrysiewicz">
      <span class="fa fa-github fa-2x"></span>
    </a>
  </li>
  <li class="social-link">
    <a href="http://linkedin.com/in/habrysiewicz">
      <span class="fa fa-linkedin fa-2x"></span>
    </a>
  </li>
  <li class="social-link">
    <a href="http://plus.google.com/100486158890845220102" rel="author">
      <span class="fa fa-google-plus-square fa-2x"></span>
    </a>
  </li>
</ul>