<ul id="social">
  <li class="social-link">
    <a href="https://twitter.com/caligoanimus">
      <span class="fa fa-twitter fa-2x"></span>
    </a>
  </li>
  <li class="social-link">
    <a href="https://github.com/hbrysiewicz">
      <span class="fa fa-github fa-2x"></span>
    </a>
  </li>
  <li class="social-link">
    <a href="https://linkedin.com/in/habrysiewicz">
      <span class="fa fa-linkedin fa-2x"></span>
    </a>
  </li>
<!--   <li class="social-link">
    <a href="/hire.html" class="social-text"> Available Services </a>
  </li> -->
</ul>
