body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #666 !important;
}

a:hover {
  text-decoration: none !important;
  color: #e6005c !important;
}

.post a {
  color: #e6005c !important;
}

.post a:hover {
  color: #f2a518 !important;
}

.pink {
  color: #e6005c !important;
}

.site {
  position: relative;
}

.site-container {
  padding-bottom: 80px;
}

#social {
  position: absolute;
  z-index: 999;
  top: 30%;
  left: 45%;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 600px) {
  #social {
    top: 40%;
  }
}

.social-link {
  display: inline;
  float: left;
  padding-right: 20px;
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 510px;
  position: relative;
}

.title {
  position: absolute;
  top: 10%;
  left: 45%;
  font-size: 4em;
  z-index: 900;
  color: #666;
}

.img {
  height: 100%;
  width: 100%;
}

.content {
  background-color: #eee;
  position: absolute;
  width: 100%;
  height: 100%;
}

.posts {
  list-style-type: none;
  margin: 0px auto;
  padding-top: 40px;
  padding-left: 0px;
}

.post-box {
  padding: 20px;
  background-color: #eee;
  margin-bottom: 20px;
}
.post-title {
  font-size: 2.0em;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
}

.post-date {
  font-size: .6em;
  line-height: 2.4em;
}

.post-summary {
  font-size: 1.2em;
  padding-left: 12px;
  padding-right: 12px;
}

.post {
  font-size: 1.2em;
}

.divider {
  border: 1px solid #e6005c;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #eee;
  padding-top: 20px;
}

.comments {
  margin-top: 64px;
}