body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-weight: 300;
}

h2 > small {
  padding-left: 20px;
}

h3 {
  color: #f2a518 !important;
}

iframe {
  height: 500px !important;
}

a {
  text-decoration: none;
  color: #666 !important;
}

a:hover {
  text-decoration: none !important;
  color: #e6005c !important;
}

.post a {
  color: #e6005c !important;
}

.post a:hover {
  color: #f2a518 !important;
}

.pink {
  color: #e6005c !important;
}

.site {
  position: relative;
}

.site-container {
  padding-bottom: 80px;
}

#social {
  position: absolute;
  z-index: 999;
  top: 35%;
  left: 45%;
  list-style-type: none;
  padding: 0;
}

#subtitle {
  position: absolute;
  top: 25%;
  left: 45%;
  z-index: 900;
  color: #666;
  width: 40%;
}

#subtitle > h2 {
  font-weight: 400 !important;
  font-size: 1.0em;
  font-style: italic;
  color: #c32363;
}

@media screen and (max-width: 599px) {
  #social {
    top: 48%;
  }

  #subtitle {
    top: 35%;
  }
}

.social-link {
  display: inline;
  float: left;
  padding-right: 20px;
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 510px;
  position: relative;
}

.title {
  position: absolute;
  top: 10%;
  left: 45%;
  font-size: 4em;
  z-index: 900;
  color: #666;
}

.img {
  height: 100%;
  width: 100%;
  background: url('/assets/img/header.jpg') no-repeat;
}

.content {
  background-color: #eee;
  position: absolute;
  width: 100%;
  height: 100%;
}

.posts {
  list-style-type: none;
  margin: 0px auto;
  padding-top: 40px;
  padding-left: 0px;
}

.post-box {
  padding: 20px;
  background-color: #eee;
  margin-bottom: 20px;
}
.post-title {
  font-size: 2.0em;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
}

.post-date {
  font-size: .6em;
  line-height: 2.4em;
}

.post-summary {
  font-size: 1.2em;
  padding-left: 12px;
  padding-right: 12px;
}

.post {
  font-size: 1.2em;
}

.divider {
  border: 1px solid #e6005c;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
}

.divider.light {
  border: 1px solid #eee;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #eee;
  padding-top: 20px;
}

.comments {
  margin-top: 64px;
}

.comments-count {
  margin-left: 24px;
}
/*
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and    (min--moz-device-pixel-ratio: 1.3),
       only screen and      (-o-min-device-pixel-ratio: 1.3/1),
       only screen and         (min-device-pixel-ratio: 1.3) {
  .img {
    background-image: url('/assets/img/header_hd.jpg');
  }
}*/