<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/css/syntax.css">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.backstretch.min.js"></script>
        <script type="text/javascript" src="/assets/js/main.js"></script>

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title">Hello, Bunny</h1>
            <div class="img"></div>
          </div>

          <div class="content">
            {{ content }}
          </div>

          <div class="footer">
            <div class="contact">
              <p>
                Heather Brysiewicz<br />
                Code Raptor<br />
                h.a.brysiewicz@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/hbrysiewicz</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/caligoanimus</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
