---
layout: default
---

<div>
  <h3 class="font-serif text-2xl">
    {{ page.title }}
  </h3>

  <h4 class="mt-1 text-sm flex">
    {{ page.date | date: "%A %B %e, %Y" }}
    <div class="pl-4 text-blue-400">
      <a href="{{ page.url }}#disqus_thread"></a>
    </div>
  </h4>
</div>

<hr class="mt-10">

<div class="mt-10 leading-loose font-thin tracking-wider post">
  {{ content }}
</div>

<hr class="mt-20">

<div class="mt-20">
  {% if page.comments %}
    {% include comments.html %}
  {% endif %}
</div>
